<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <title>Mallory's Observatory</title>

        <link rel="alternate" lang="en" type="application/rss+xml" title="Mallory's Observatory Blog" href="/feed.rss">

        <link rel="stylesheet" href="/static/styles.css">

        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ content }}
    </body>
</html>