<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url={{ redirect.to }}">
    <title>This page has been permanently moved.</title>
  </head>
  <body>
    <p>
      This page has permanently moved to a <a href="{{ redirect.to }}">{{
        redirect.to
      }}</a>.
    </p>
  </body>
</html>
