<nav id="navbar">
	<div>
		<div id="logo">
			<img alt="Comet Observatory from Super Mario Galaxy" width="64" height="64" src="/assets/images/observatory.png">
			<h1>Mallory's Observatory</h1>
		</div>
		<ul>
			<li>
				videos
			</li>
			<li>
				writing
			</li>
			<li>
				shelf
			</li>
		</ul>
	</div>
</nav>