.site-box {
  text-align: center;
  background-image: url("https://wii.nekoweb.org/assets/images/sitebox.png");
  background-repeat: no-repeat;
  color: #f2f6ff;
  font-size: 12px;
  position: relative;
  image-rendering: pixelated;
}

.site-box > .sitefeature {
  visibility: hidden;
}

.site-box > a > p {
  color: #f2f6ff !important;
  bottom: 0;
  right: 0;
}

.site-box > a > span {
  visibility: hidden;
}
