.site-box {
  text-align: center;
  background-image: url("https://wii.nekoweb.org/assets/images/sitebox.png");
  background-repeat: no-repeat;
  color: #f2f6ff;
  font-size: 12px;
  position: relative;
  image-rendering: pixelated;
}

.site-box > a > .sitefeature {
  visibility: hidden;
}

.site-box > a > p {
  color: #f2f6ff;
  text-shadow: #262e40 0 1px 0, #c2c7d1 0px 0px 4px;
}

.site-box > a > span {
  visibility: hidden;
}
