@font-face {
  font-family: Minecraft;
  src: url("/assets/fonts/Minecraft.otf") format("opentype");
}

@font-face {
  font-family: Minecraft;
  font-weight: bold;
  src: url("/assets/fonts/Minecraft-Bold.otf") format("opentype");
}

@font-face {
  font-family: MonaspaceNe;
  src: url("/assets/fonts/MonaspaceNeon-Regular.woff2") format("woff2");
}

:root {
  --color-bg: #080b12;
  --color-bg-secondary: #262e40;
  --color-bg-secondary-outline: #474d5c;
  --color-bg-content: #eee;

  --color-bg-tooltip: rgba(16, 0, 16, 240);
  --color-bg-tooltip-outline-top-left: rgba(80, 0, 255, 80);
  --color-bg-tooltip-outline-bottom-right: rgba(40, 0, 128, 80);

  --color-text: #f2f6ff;
  --color-text-secondary: #c2c7d1;

  --color-text-tooltip: #FCFCFC;
  --color-text-tooltip-shadow: #3E3E3E;

  --color-primary-light: #acc8ff;
  --color-primary-light-ish: #80A0DC;
  --color-primary-middle: #6A8CCA;
  --color-primary-dark-ish: #5477b8;
  --color-primary-dark: #4866ab;
  --color-primary-dark-er: #3e4a9f;
  --color-primary-dark-est: #28397d;
  --color-primary-dark-est-er: #192b5e;

  --color-alert-shine: #ff4552;
  --color-alert: #ff0033;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: var(--color-bg);
  overflow-x: hidden;
  cursor: url("/assets/images/cursor/smg_cursor_pointer.svg") 2 2, auto;
}

body {
  width: 800px;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Rubik", sans-serif;
  position: relative;
}

samp, code, pre {
  font-family: "MonaspaceNe", monospace;
  font-size: 14px;
}

#build-info {
  text-overflow: ellipsis;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-bg);
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

:target {
  scroll-margin-block: 5ex;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/assets/images/cursor/smg_cursor_pointer.svg")
    url("/assets/images/cursor/smg_cursor_hand.svg")
    url("/assets/images/cursor/smg_cursor_grab.svg");
}

a:hover {
  cursor: url("/assets/images/cursor/smg_cursor_hand.svg") 2 2, auto;
}

a:focus {
  cursor: url("/assets/images/cursor/smg_cursor_grab.svg") 2 2, auto;
}

#avatar {
  position: relative;
  background: url("/assets/images/avatars/igalaxy-background.png");
  image-rendering: pixelated;
}

#avatar::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: white;
  opacity: 10%;
}

.disabled {
  position: relative;
}

.disabled::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(0.7);
  cursor: not-allowed;
}

.new {
  position: relative;
}

a, a:visited {
  color: inherit;
}

.new::after {
  top: 0;
  right: 0;
  position: absolute;
  content: "new!!";
  font-size: 8px;
  background: linear-gradient(
    to bottom,
    var(--color-alert-shine) 50%,
    var(--color-alert-shine) 45%,
    var(--color-alert)
  );
  padding: 2px;
  padding-bottom: 4px;
  padding-right: 1.5px;
  line-height: 4px;
  pointer-events: none;
  text-shadow: none;
}

noscript {
  background-color: var(--color-alert);
}

@keyframes splash-text {
  0% {
    transform: rotate(-15deg) scale(1);
  }
  50% {
    transform: rotate(-15deg) scale(1.4);
  }
  100% {
    transform: rotate(-15deg) scale(1);
  }
}

#splash-text {
  position: absolute;
  bottom: 10px;
  left: 260px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Minecraft";
  text-shadow: #3f3f00 2px 2px 0px;
  color: #ffff00;
  animation: 1.5s ease-in-out 0s splash-text;
  animation-iteration-count: infinite;
  z-index: 999;
  pointer-events: none;
  text-align: center;
  min-width: 200px;
  margin: 0;
  line-height: normal;
}

#splash-text-sandbox {
  font-size: 16px;
  font-weight: 300;
  font-family: "Minecraft";
  text-shadow: #3f3f00 2px 2px 0px;
  color: #ffff00;
  min-width: 200px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  #splash-text {
    animation: none;
    transform: rotate(-15deg);
  }
}

#skip-to-main {
  position: absolute;
  left: 0;
  z-index: 9999;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  opacity: 0;
  pointer-events: none;
}

#skip-to-main:focus {
  opacity: 1;
}

#main-header {
  display: flex;
  height: 150px;
  a {
    text-decoration: none;
  }
  #nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url(/assets/images/observatory/comet-observatory.png);
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    justify-content: end;
    #logo {
      h1, h2 {
        margin: 5px;
        text-shadow:
          var(--color-bg-secondary) 0 1px 0,
          var(--color-text-secondary) 0px 0px 4px;
        max-width: 390px;
      }
      h2 {
        margin-left: 18px;
        margin-bottom: -15px;
      }
      position: relative;
    }
    nav {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(
        to bottom,
        var(--color-primary-dark-ish) 50%,
        var(--color-primary-dark) 45%,
        var(--color-primary-dark-er)
      );
      ul:not(#today) {
        li:not(.disabled):hover {
          background: linear-gradient(
            to top,
            var(--color-primary-dark-ish) 50%,
            var(--color-primary-dark) 45%,
            var(--color-primary-dark-er)
          );
        }
      }
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        list-style: none;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          text-shadow:
            var(--color-bg-secondary) 0 1px 0,
            var(--color-text-secondary) 0px 0px 4px;
          .new::after {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
        li:has(a) {
          padding: 0 !important;
          a {
            padding: 5px;
          }
        }
        li:has(#today-moon-phase) {
          display: block;
          width: 34px;
          height: 34px;
          padding: 0;
          margin-left: 5px;
          position: relative;
          box-shadow: #101728 0px 0px 2px 1px;
        }
      }
    }
  }
}

img {
  image-rendering: pixelated;
}

#today-moon-phase {
  width: 8px;
  height: 8px;
  object-fit: none;
  transform: scale(4.25);
  margin-left: 13px;
  margin-top: 13px;
  background-color: #0c121f;
}

#main-container {
  display: flex;
  flex-direction: row;

  aside {
    background-color: var(--color-bg-secondary);
    min-width: 150px;
  }

  section {
    background-color: var(--color-bg-content);
    color: var(--color-bg);
    flex-grow: 1;
    padding: 10px;
    line-height: normal;

    p, ul {
      margin: 0;
    }
    ul {
      padding-left: 25px;
    }
    h1, h2, h3 {
      margin: 10px 0;
    }

    a {
      color: var(--color-primary-dark);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-thickness: 1.5px;
    }

    a[href]:not(:where(
      /* exclude hash only links */
      [href^="#"],
      /* exclude javascript only links */
      [href^="javascript:" i],  
      /* exclude relative but not double slash only links */
      [href^="/"]:not([href^="//"]),
      /* domains to exclude */
      [href*="//wii.mom"],
    )):after {
      content: ' ';
      display: inline-block;
      width: 14px;
      height: 12px;
      background-color: var(--color-primary-dark);
      mask-image: url(/assets/images/ext.svg);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: right;
    }
  }
}

footer {
  min-height: 78px;
  background: linear-gradient(
    to bottom,
    var(--color-primary-dark-ish) 50%,
    var(--color-primary-dark) 45%,
    var(--color-primary-dark-er)
  );
  span {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    height: 34px;
    justify-content: center;
    align-items: center;
    text-shadow:
      var(--color-bg-secondary) 0 1px 0,
      var(--color-text-secondary) 0px 0px 4px;
  }
  #buttons {
    min-height: 44px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom,
      var(--color-primary-dark-est-er) 50%,
      var(--color-primary-dark-est) 45%,
      var(--color-primary-dark-est)
    );
    background-color: var(--color-primary-dark-est);
    outline: 1px solid rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 3px;
    gap: 3px;
    flex-wrap: wrap;
    a {
      width: 88px;
      height: 31px;
      display: block;
    }
    img {
      margin: 0;
      padding: 0;
      width: 88px;
      height: 31px;
    }
  }
  #buttons::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    box-shadow: inset 0 0 8px var(--color-bg);
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

iframe {
  background-color: var(--color-bg-secondary);
}

@media only screen and (max-width: 1170px) {
  #side-iframes {
    display: none !important;
  }
}

@media only screen and (max-width: 732px) {
  #johnvertisement {
    display: none !important;
  }
}

@media only screen and (max-width: 775px) {
  #today {
    display: none !important;
  }
  #splash-text {
    display: none !important;
  }
}

@media only screen and (max-width: 625px) {
  #main-header {
    height: 200px;
  }
  #avatar {
    display: none !important;
  }
  #main-container {
    flex-direction: column;
  }
  #nav-container > nav > ul {
    flex-wrap: wrap;
  }
}

button[data-has-tooltip] {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1.5px;
  position: relative;
  cursor: url("/assets/images/cursor/smg_cursor_pointer.svg") 2 2, auto;
  overflow: visible;
  text-wrap: nowrap;
  display: inline-flex;
  justify-content: center;
}

.tooltip {
  position: fixed;
  visibility: hidden;
  color: var(--color-text-tooltip);
  text-shadow: var(--color-text-tooltip-shadow) 1px 1px 0px;
  font-family: "Minecraft";
  padding: 2px;
  padding-top: 1px;
  line-height: 9px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  border-image: url(/assets/images/tooltip/frame.png);
  border-image-slice: 2;
  border-image-repeat: repeat;
  image-rendering: pixelated;
  background-color: var(--color-bg-tooltip);
  text-align: left;
  transform: scale(1.75);
  backface-visibility: hidden;
  pointer-events: none;
  clip-path: polygon(0 1px, 1px 1px, 1px 0px, calc(100% - 1px) 0px, calc(100% - 1px) 1px, 100% 1px, 100% calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 100%, 1px 100%, 1px calc(100% - 1px), 0px calc(100% - 1px));
  z-index: 999;
}